@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.14/css/bootstrap-select.min.css');

html {
  font-size: 1rem;
}

h1, h2, h3 {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a, a:hover {
  color: #0a3dfa;
}

@media (min-width: 768px) {
  html {
    /*font-size: 16px;*/
  }
}

button.search {
  width: 10em;
  background-color: #0a3dfa;
}

.bootstrap-select button.btn-light {
  background-color: #fff;
  border-color: #ced4da;
  color: #495057;
}

button.btn-light:focus {
  border-color: #80bdff;
}

.card:hover {
  transition: .2s;
  transform: scale(1.03);
}

.termCount {
  color: #6c757d;
}

.content h2, .content h3 {
  margin-top: 2rem;
}

.content h2:first-child {
  margin-top: 0;
}

.content h2 {
  font-weight: 600;
}

.content h3 {
  color: #0a3dfa;
}

footer {
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #fbfbfb;
  box-shadow: 0 50vh 0 50vh #fbfbfb;
}

footer p {
  margin-bottom: .25rem;
}

footer p:last-child {
  margin-bottom: 0;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
  color: #6c757d;
}

input:-moz-ui-invalid {
  box-shadow: none;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 1em;
}

.nav-tabs {
  margin-bottom: 0;
}
